.dialog{
	-fx-border-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 100% , derive(#8A0707, 40%), #000000);
	-fx-border-width: 10;
	-fx-background-color: black;
}
.dialog-pane, 
.dialog-pane:header .header-panel, 
.dialog-pane > .button-bar > .container {
	-fx-background-color:black;
}

.label {
	-fx-background-color: black;
	-fx-text-fill:white;
	-fx-font-size:15px;
}

/* Button */
.dialog-pane .button{
	-fx-text-fill: white;
	-fx-font-size: 14px;
	
	-fx-background-color: black;
	-fx-background-color: linear-gradient(#8A0707, #000000);
	-fx-background-radius: 2;
}
.dialog-pane .button:hover{
	-fx-background-color: linear-gradient(derive(#8A0707, 40%), #000000);
	-fx-cursor:hand;
}
/* Text-field */
.text-field, 
.text-field:focused {
	-fx-background-color: linear-gradient(#111111, #222222);
	-fx-text-fill: white;
	-fx-background-insets: 0;
	
	-fx-border-style: none;
	-fx-background-radius: 10px;
	
	-fx-font-size: 14px;
}
.text-field:focused {
	-fx-effect: innershadow(gaussian, #8A0707, 7, 0.3, 1, 1) ;
}